@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0 0;
  --background: 255 255 255;
  --primary: 59 130 246;
  --primary-foreground: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255 255 255;
    --background: 0 0 0;
    --primary: 59 130 246;
    --primary-foreground: 255 255 255;
  }
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: Inter, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}